form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(183, 162, 162, 0.1);
  margin: top 1px;
  width: 1%;

}

fieldset {
  border: none;
  padding: 0;
  margin: 0 0 2rem 0;
}

legend {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
input[type=""] {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

input[type="submit"] {
  background-color:blue;
  color: #fff;
  font-weight: bold;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

input[type="submit"]:hover {
  background-color: blue;
}

.image-upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.image-preview {
  width: 200px;
  height: 200px;
  margin-bottom: 1rem;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

input[type="file"] {
  margin-bottom: 1rem;
}
